    <h1>Glimpsed</h1>
    <h1 class="sub_title">Login</h3>

  <div class="login">
    <%= form_tag '/login' do %>
      <%= label_tag 'email', nil, :autofocus => true %>
      <%= text_field_tag 'email' %>
      <%= label_tag 'password' %>
      <%= password_field_tag 'password' %>
      <%= submit_tag 'Login' %>
    <% end %>
  </div>