

<div class="col-md-2 col-md-push-10">
  <h2 class="username"><%= link_to user.username, user_path(@authenticated) %> </h2>

  <%= link_to (image_tag user.image_url, class: "user_img"), user_path(@authenticated) %>

  <div class="btn-group-vertical">
      <%= link_to 'Edit Profile', edit_users_path, class: "btn btn-default dropdown-toggle" %>
      <%= link_to 'My Favourites', "/users/#{user.id}/favourites", class: "btn btn-default dropdown-toggle" %>
      <%= link_to 'New Picture', new_picture_path, class: "btn btn-default dropdown-toggle" %>
      <%= link_to 'New Category', new_category_path, class: "btn btn-default dropdown-toggle" %>

    <h5 class="btn btn-default dropdown-toggle heading"><strong>Categories:</strong></h4>
      <% user.owned_categories.each do |category| %>
        <%= link_to category.name, category_path(category), class: "btn btn-default dropdown-toggle", :title => category.name %>
      <% end %>
  </div>
</div>
