<h1>This is the users/NEW page</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li class="alert alert-warning"><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user, :html => {:multipart => true} do |f| %>

  <div class='form-group'>
    <%= f.label :username %>
    <%= f.text_field :username, :autofocus => true, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  <%= image_tag @user.image_url if @user.image? %>

  <div class='form-group'>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class='form-group'>
    <%= f.label :remote_image_url, "Or Picture Url" %>
    <%= f.text_field :remote_image_url, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div>
  <%= f.submit %>

<% end %>
