
<div class="row">
  <div class="col-xs-12 col-md-10">
    <% if @user.id != @authenticated.id %>
      <h2 class="username"><%= @user.username %> </h2>
      <%= image_tag @user.image %>
      <h3><%= link_to 'Add to a Category', edit_user_to_categories_path(@user) %></h3>
      <h2><%= @user.username %>'s Pictures </h2>
    <% else %>
      <h2>My Pictures</h2>
    <% end %>

    <%= render :partial => 'pictures/picture', :collection => @user.pictures %>
  </div>

  <%= render :partial => 'sidenav', :locals => {:user => @authenticated} %>
</div>

