

   <div class="col-sm-6 col-md-3">
    <div class="thumbnail">

      <%== link_to raw("<div class='thumbnail' style='background-image:url(#{picture.picture})'></div>"), picture_path(picture) %>
      <div class="caption">

        <% if picture.id.in? @authenticated.favourites.map &:picture_id %>
          <%= button_to 'Unfavourite', favourite_path(picture), :method => 'delete' %>
        <% else %>
          <%= button_to 'Favourite!', favourite_path(picture), :method => 'get' %>
        <% end %>


        <p class="thumb_cap"><%= picture.name %></p>
        <p class="thumb_cap"><strong><%= link_to picture.user.username, user_path(picture.user) %> </strong></p>
      </div>
    </div>
</div>