<div class="row">
  <%= render :partial => 'users/sidenav', :locals => {:user => @authenticated} %>
  <div class="col-md-10 col-md-pull-2">
      <% if @picture.id.present? %>
        <h2>Edit Picture</h2>
      <% else %>
        <h2>New Picture</h2>
      <% end %>

      <% if @picture.errors.any? %>
        <ol>
          <% @picture.errors.full_messages.each do |msg| %>
            <li class="alert alert-warning"><%= msg %></div>
          <% end %>
        </ol>
      <% end %>

      <%= form_for @picture, :html => {:multipart => true} do |f| %>

        <div class='form-group'>
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true, :class => 'form-control', :placeholder => 'Optional' %>
        </div>
        <%= image_tag @picture.picture_url if @picture.picture? %>
        <div class='form-group'>
          <%= f.label :picture %>
          <%= f.file_field :picture %>
        </div>
        <div class='form-group'>
          <%= f.label :remote_picture_url, "Or Picture Url" %>
          <%= f.text_field :remote_picture_url, :class => 'form-control', :placeholder => 'Required if you have not uploaded a file above' %>
        </div>
        <div class='form-group'>
          <%= f.label :description %>
          <%= f.text_field :description, :class => 'form-control', :placeholder => 'Optional' %>
        </div>
        <%= f.submit %>

      <% end %>
  </div>

</div>